<footer>
    <div class="container footer-container footer-flex">
      <div class="footer-left">
        <p>© 2026 North Brisbane & Moreton Bay Education Guide. All rights reserved.<br>Provides general educational information.</p>
        <p>Last updated: January 2026</p>
      </div>
      <div class="footer-right">
       <p> <a href="/privacy.html" class="footer-privacy-link">Privacy Policy</a></p>
<p>email: info@northbrisbaneeducationguide.com.au</p>
<p>No paid ads. No tracking.</p>
      </div>
    </div>
  </footer>